$bgColor:#227a6b;
$baseColor:#F2FFF4;
$textColor:#eeeeee;

html {
  font-size: 62.5%;
}
body {
  font-family: "Outfit", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.workContent{
  width: 100%;
  height: ;
  background: $bgColor;
}