$bgColor:#227a6b;
$textColor:#eee;
$baseColor:#F2FFF4;
$borderColor:#222;

html {
  font-size: 62.5%;
}
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  display: flex;
}

.menu {
  width: 50px;
  height: 100vh;
  background: #1e5f54;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: row;
    gap: 5rem;

    li {
      height: 80px;
      list-style: none;

      a {
        font-size: 1.8rem;
        font-weight: 100;
        color: #eeeeee;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: lighten(#eeeeee, 20%);
          letter-spacing: 0.5rem;
        }
      }
    }
  }
}

.container {
  margin-left: 50px; // navの幅ぶん空ける
  padding: 2rem;
  background: $bgColor;
  width: calc(100% - 50px);
}

.workContent {
  height: 80vh;
  border-bottom: 2px solid #F2FFF4;
  color: #eeeeee;
  padding: 2rem;
  .work{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    figure{
      width: 45%;
      img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }
    .candleContent{
      width: 50%;
      display: flex;
      justify-content: center;
      .candle{
        height: 480px;
        width: 250px;
      }
    }
    .explain{
      width: 45%;
      display: flex;
      justify-content:flex-start ;
      flex-flow: column;
      .flex{
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        h2{
          font-size: 1.6rem;
          width: 20%;
        }
        h3{
          width: 75%;
          font-size: 1.6rem;
          // line-height:40px;
        }
      }
      a{
        font-size: 1.6rem;
        text-align: right;
        color: $textColor;
        border-bottom:3px $baseColor dotted;
        text-decoration: none;
        margin-bottom: 20px;
      }
    }
  }
}
