@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.profileContent {
  width: clamp(500px, 50vw, 50%);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #227a6b;
  border: 0.5px solid #111;
  overflow: hidden;
  display: flex;
  transition: transform 0.6s ease-in-out;
  transform: translateX(0);
}
.profileContent::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../img/stone.jpg") repeat;
  background-size: cover;
  opacity: 0.2;
  mix-blend-mode: multiply;
  pointer-events: none;
}
.profileContent .menu {
  background: #1e5f54;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profileContent .menu ul {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  display: flex;
  gap: 5rem;
}
.profileContent .menu ul li {
  height: 80px;
  list-style: none;
}
.profileContent .menu ul li a {
  font-size: 2rem;
  font-weight: 100;
  color: #eeeeee;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.profileContent .menu ul li a:hover {
  color: white;
  letter-spacing: 0.5rem;
}
.profileContent .content {
  flex: 1;
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profileContent .content .face {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  background: #F2FFF4;
}
.profileContent .content .face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileContent .content h2 {
  margin-top: 2rem;
  font-size: 3.2rem;
  color: #eeeeee;
  font-weight: 500;
}
.profileContent .content .career {
  font-size: 1.4rem;
  color: #eeeeee;
  margin-top: 7rem;
  max-width: 80%;
  list-style: none;
  text-align: left;
}
.profileContent .content .career li {
  margin-bottom: 0.8rem;
  line-height: 1.6;
}
.profileContent .content .career li strong {
  font-weight: 600;
  display: inline-block;
  width: 4.5em;
}
.profileContent .content .link {
  margin-top: auto;
  display: flex;
  gap: 5rem;
}
.profileContent .content .link figure {
  width: 30px;
  height: 30px;
}
.profileContent .content .link figure a {
  display: block;
  width: 100%;
  height: 100%;
}
.profileContent .content .link figure a img {
  width: 100%;
  height: 100%;
}

.workContent {
  width: 50%;
  height: 100vh;
  background: tomato;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.workContent .opus {
  width: 100%;
  height: 50vh;
  background: #F2FFF4;
  position: relative;
  overflow: hidden;
}
.workContent .opus img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}
.workContent .opus p {
  position: absolute;
  bottom: 2%;
  right: 2%;
  border-radius: 4px;
}
.workContent .opus p span {
  color: #F2FFF4;
}
.workContent .opus:hover img {
  transform: scale(1.05);
}