@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  display: flex;
}

.menu {
  width: 50px;
  height: 100vh;
  background: #1e5f54;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.menu ul li {
  height: 80px;
  list-style: none;
}
.menu ul li a {
  font-size: 1.8rem;
  font-weight: 100;
  color: #eeeeee;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.menu ul li a:hover {
  color: white;
  letter-spacing: 0.5rem;
}

.container {
  margin-left: 50px;
  padding: 2rem;
  background: #227a6b;
  width: calc(100% - 50px);
  height: 495vh;
}

.workContent {
  height: 80vh;
  border-bottom: 2px solid #F2FFF4;
  color: #eeeeee;
  padding: 2rem;
}
.workContent .work {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.workContent .work figure {
  width: 45%;
}
.workContent .work figure img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.workContent .work .candleContent {
  width: 50%;
  display: flex;
  justify-content: center;
}
.workContent .work .candleContent .candle {
  height: 480px;
  width: 250px;
}
.workContent .work .explain {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}
.workContent .work .explain .flex {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.workContent .work .explain .flex h2 {
  font-size: 1.6rem;
  width: 20%;
}
.workContent .work .explain .flex h3 {
  width: 75%;
  font-size: 1.6rem;
}
.workContent .work .explain a {
  font-size: 1.6rem;
  text-align: right;
  color: #eee;
  border-bottom: 3px #F2FFF4 dotted;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}
.workContent .work:hover img {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.backTop {
  display: none;
  width: 80px;
  height: 80px;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background: #eee;
  z-index: 1000;
}
.backTop p {
  color: #227a6b;
  line-height: 80px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  animation: jump 2s infinite;
}

.backTop.show {
  opacity: 1;
  visibility: visible;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* 上にジャンプ */
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 500px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #1e5f54;
    z-index: 1000;
    flex-direction: row;
  }
  .menu ul {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
  }
  .menu li {
    height: auto;
    width: 80px;
    line-height: 80px;
    text-align: center;
  }
  .menu li a {
    width: 100%;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
  }
  .container {
    margin-left: 0;
    width: 100vw;
    height: 645vh;
    margin: 0;
    padding: 0;
  }
  .workContent {
    width: 100vw;
    height: 100vh;
    margin: 50px 0 0 0;
    padding: 0;
  }
  .workContent .bungee {
    padding: 20px 0 0 10px;
  }
  .workContent .work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
  }
  .workContent .work figure {
    width: 80%;
  }
  .workContent .work figure img {
    width: 100%;
  }
  .workContent .work .explain {
    width: 90%;
  }
  .workContent .work .explain .flex h2 {
    padding: 0;
  }
}
@media (max-width: 390px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #1e5f54;
    z-index: 1000;
    flex-direction: row;
  }
  .menu ul {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100vw;
    list-style: none;
  }
  .menu li {
    height: auto;
    width: 80px;
    line-height: 80px;
    text-align: center;
  }
  .menu li a {
    width: 100%;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
  }
  .container {
    margin-left: 0;
    width: 100vw;
    height: 740vh;
    margin: 0;
    padding: 0;
  }
  .workContent {
    width: 100vw;
    height: 120vh;
    margin: 50px 0 0 0;
    padding: 0;
  }
  .workContent .bungee {
    padding: 20px 0 0 10px;
  }
  .workContent .work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
  }
  .workContent .work figure {
    width: 80%;
  }
  .workContent .work figure img {
    width: 100%;
  }
  .workContent .work .explain {
    width: 90%;
  }
  .workContent .work .explain .flex h2 {
    padding: 0;
  }
}